.content {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 4rem;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      label {
        font-size: 1.8rem;
        color: var(--peps);
        font-weight: 700;
        margin-bottom: 1rem;
      }
      input,
      textarea {
        border: 1px solid var(--grey);
        border-radius: 3px;
        padding: 1em;
        &:focus {
          border-color: var(--peps);
        }
      }
      textarea {
        min-height: 20rem;
      }
    }
  }
  .btn-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn {
      margin-left: 1rem;
    }
  }
}
