.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grey);
  }
}

.btn {
  margin-left: 1rem;
  border: 0;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background: var(--peps);
    transition: 0.3s;
  }
  &-primary {
    background: var(--primary);
    color: white;
    border: 1px solid var(--primary);
  }
  &-secondary {
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  &-danger {
    background: var(--error);
    border: 1px solid var(--error);
    color: white;
    &:hover {
      background: var(--error-dark);
      border: 1px solid var(--error-dark);
    }
  }
}

.text {
  &-error {
    color: var(--error);
  }
}
