:root {
  --primary: #3f887c;
  --dark: #002a22;
  --peps: #ffa17a;
  --text: #001a16;
  --grey: #e5e5e5;
  --font-family: "Mulish", sans-serif;
  --box-shadow: 3px 3px 5px 0px rgba(00, 00, 00, 0.2);
}
